@page
@model AplicatieStudenti.Pages.Studenti.IndexModel
@{
    ViewData["Title"] = "Homepage";
}

<div class="text-center">
    <h1 class="display-4">Bun venit!</h1>
    <h2>Pagina de pornire aplicatie inscriere studenti</h2>
</div>
