@page
@model AplicatieStudenti.Pages.Inscrieri.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Stergere</h1>

<h3>Esti sigur ca vrei sa stergi aceasta inregistrare?</h3>
<div>
    <h4>Inscriere</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inscriere.Student)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inscriere.Curs)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inscriere.Profesor)
        </dt>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Inscriere.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Inapoi la lista de inscrieri</a>
    </form>
</div>
