@page
@model AplicatieStudenti.Pages.Inscrieri.DeleteModel

@{
    ViewData["Title"] = "Stergere inscriere";
}

<h1>Stergere inscriere</h1>

<h3>Esti sigur ca vrei sa stergi aceasta inregistrare?</h3>
<div>
    <hr />

    <form method="post">
        <input type="hidden" asp-for="Inscriere.ID" />
        <input type="submit" value="Sterge" class="btn btn-danger" /> |
        <a asp-page="./Index" class="btn btn-secondary ms-2">Inapoi la lista de inscrieri</a>
    </form>
</div>
