@page
@model AplicatieStudenti.Pages.Inscrieri.EditModel
@{
    ViewData["Title"] = "Editeaza inscrierea";
}

<h1>@ViewData["Title"]</h1>

<h4>Inscriere</h4>
<hr />

<form method="post">
    <div class="form-group">
        <label for="StudentID">Student</label>
        <select id="StudentID" asp-for="Inscriere.StudentID" class="form-control" asp-items="Model.StudentiSelectList">
        </select>
        <span asp-validation-for="Inscriere.StudentID" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="CursID">Curs</label>
        <select id="CursID" asp-for="Inscriere.CursID" class="form-control" asp-items="Model.CursuriSelectList">
        </select>
        <span asp-validation-for="Inscriere.CursID" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="ProfesorID">Profesor</label>
        <select id="ProfesorID" asp-for="Inscriere.ProfesorID" class="form-control" asp-items="Model.ProfesoriSelectList">
        </select>
        <span asp-validation-for="Inscriere.ProfesorID" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Salveaza modificarile</button>
    <a asp-page="./Index" class="btn btn-secondary">Inapoi la lista de inscriere</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
